<div class="radio-group" [class.disabled]="disabled">
  <label *ngFor="let option of options" class="radio-option">
    <input
      type="radio"
      [name]="name"
      [value]="option.value"
      [checked]="isChecked(option)"
      [disabled]="disabled"
      (change)="onRadioChange(option.value)"
      class="radio-input">
    
    <span class="radio-custom">
      <span class="radio-dot" [class.checked]="isChecked(option)"></span>
    </span>
    
    <span class="radio-label">{{ option.label }}</span>
  </label>
</div>